trigger: 
 branches:
   include:
     - main
     - feature01

pool: DEV

stages:
  -  stage: terraforminit
     jobs:
       - job: terraformintjob
         steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
